.formContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #d6dce2;
    padding: 10px;
    background-color: #f4f6f8;
}

.formContainer label {
    padding-top: 5px;
    align-self: center;
}

.formContainer input {
    border: 1px solid #d6dce2;
    border-radius: 8px;
    padding: 3px;
    text-align: center;
}
