.postPreview {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid rgba(0,0,0,0.2);
    align-items: flex-start;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px -2px #000a3c1a;
    background-color: #fff;
    overflow: hidden;
    transition: box-shadow .2s;
}

.postPreview:hover {
    box-shadow: 0 6px 12px -4px #001b4433;
    cursor: pointer;
}

.postPreview h2 {
    padding-top: 20px;
    padding-left: 5px;
}

.postPreview time {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(190, 185, 185);
}

.postPreview.dark {
    border: 1px solid rgba(248, 245, 245, 0.2);
    box-shadow: 0 4px 8px -2px rgba(231, 233, 238, 0.1);
    background-color: #464545;
    transition: box-shadow .2s;
}