.formButton {
    background-color: #f8fafc;
    color: black;
    border-radius: 8px;
    height: 30px;
    border: 1px solid #cbd5e1;
}

.formButton:hover {
    background-color: #e5ecf3;
}

.formButton:active {
    background-color: #ffffff;
}