.header {
    position: sticky;
    top: 0;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header.dark {
    background-color: #1f2023;
    color: #efefef;
}

.header a {
    text-decoration: none;
    text-transform: none;
}

.header a:visited {
    color: black;
}

.header.dark a {
    color: white;
}
.header.dark a:visited {
    color: white;
}