.header {
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a{
    text-decoration: none;
    text-transform: none;
    color: black;
}